extends layout 

block content 

    
    if(borrado)
        div.alert.alert-danger Lista borrada con exito
    if(agregada)
        div.alert.alert-success Lista agregada con exito
    if(error)
        div.alert.alert-danger Ocurrio un error en la aplicacion, se ha devuelto al inicio
    if(archivado)
        div.alert.alert-warning Lista Archivada con exito

    .container.d-flex.justify-content-center.flex-column
        h3 
            form(method='POST' action='/logout')
                button(class='logout') LogOut
        h1.text-center TO-DO LIST 
            
        
        .container.d-flex.justify-content-around.opciones 
            a(href=`/listas/agregar`).text-center
                button Agregar Lista Personal
            a(href=`/listas/archivos`).text-center
                button Consultar Archivadas 
            a(href=`/listas/asignar`).text-center
                button Asignar Tareas

        table.table.table-striped-columns 
            tr
                th id 
                th Titulo 
                th Fecha de creacion
                th Fecha de resolucion 
                th Estado
                th Acceder
                th Archivar
            each lista in listas
                if(lista.id != null) 
                    tr.indice 
                        td= lista.id 
                        td= lista.titulo 
                        td= lista.fechaCreacion 
                        
                        if(lista.fechaResolucion == NULL)
                            td Aun no finaliza
                        else 
                            td= lista.fechaResolucion

                        if(lista.estado == -1)
                            td Pendiente 
                        else if(lista.estado == 0)
                            td En Proceso 
                        else 
                            td Resuelta    
                        td 
                            a(href=`/listas/${lista.id}/tareas`)
                                button(class='acceder') <i class="fa-solid fa-door-open"></i>   
                        if(lista.estado == 1)    
                            td 
                                form(method='POST' action=`/listas/archivar/${lista.id}?_method=PUT`)
                                    button <i class="fa-sharp fa-solid fa-folder-open"></i>
                        else 
                            td
                                <i class="fa-solid fa-xmark"></i>
        h5.text-center A veces hay que borrar 2 veces la lista para que desaparezca, no se por que 


